.container{
   /* background: lightgray; */
   /* opacity: 0.2; */
   /* min-height: 100vh; */
   padding-top: 50px;
    
}
.insu-page{
    display: flex;
    margin: 0 50px 30px 80px;
}

.user-input{
    height: 400px;
    flex: 7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin-right: 20px;
}

.user-status{
    flex: 3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    height: 400px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  */
}

.carosusel{
    height: 100px;
    width: 200px;
    padding-top: 80px;
    text-align: center;
    background: #52C0F5;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10px;
    /* margin-right: 300px; */
    /* margin-left: 300px; */
}

.input-pat-details{
    margin: 0 0 0 20px;
}

.input-id{
    margin-bottom: 15px;
    font-size: 15px;
}

.show-user-details{
    /* text-align: center; */
    background: #F9E79F ;
    color: #873600;
    width: 700px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    font-weight: bold;
    text-align: center;
}

.submit-id{
    color: white;
    background: darkcyan;
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px;
    margin-left: 15px;
    border-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.input-disease{
    font-size: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    border-width: 0 !important;
    margin-left: 50px;
    margin-right: 50px;
}

.text-set{
    margin-bottom: 20px;
}

.insure-text{
    margin-top: 10px;
    margin-left: 15px;
    font-weight: bold;
}

