.nav{
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important; 
    transition: 0.3s;
    /* border-radius: 5px; 5px rounded corners */
   background: darkcyan;
   display: flex;
}

.logo{
    flex: 7 !important;
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 10px;
}

.btn-admin{
    flex: 3 !important;
    color: white;
    /* font-weight: bold; */
    text-decoration:none;
    margin-left: 10px;
    margin-top: 30px;
}